div.sideBarContainer {
    position: absolute;
    width: 140px;
    padding: 10px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

div.sideBarAppMainContent {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px, 8px, 8px, 0px;
    left: 160px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}