@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html {
    background-image: url(src/wallpaper/crystal_purple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    cursor: url(src/cursor/standard.png), auto;
    overflow: none;
}

button {
    cursor: url(src/cursor/standard.png), auto;
}

body {
    overflow: none;
}

/* Unspecific */

.invisibleWindowContent {
    display: none;
}

.visibleWindowContent {
    display: block;
}

/* Menu Bar */

div.menubar {
    position: absolute;
    height: 16px;
    padding: 10px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    text-align: center;
    align-content: center;
}

div.menuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

p.menuItem {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.9);
    
}

div.sysIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 12px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Widgets */
div.widgetContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    right: 30px;
    top: 66px;
    width: 350px;
}

div.widgetVerticalContainer {
    height: 160px;
    width: 350px;
    border-radius: 0px;
    justify-items: space-between;

    position: relative;
    width: 100%;
    height: 160px;
    isolation: isolate;
}

div.widgetLeft {
    position: absolute;
    width: 136px;
    height: 136px;
    background: rgba(17, 17, 17, 0.5);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    border-radius: 16px;
    padding: 12px;
    font-family: "Nunito";
    color: white;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.widgetRight {
    position: absolute;
    width: 136px;
    height: 136px;
    background: rgba(17, 17, 17, 0.5);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    border-radius: 16px;
    padding: 12px;
    font-family: "Nunito";
    color: white;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.photoWidget {
    position: absolute;
    width: 136px;
    height: 136px;
    background: rgba(17, 17, 17, 0.5);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    border-radius: 16px;
    padding: 12px;
    font-family: "Nunito";
    color: white;
    right: 0px;
    background-image: url(src/images/darkNightWatcherSmall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}    

p.photoWidgetText {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    left: 10px;
    bottom: 10px;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}



/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 6px 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #FF00BA 0%, #6A00FF 55.21%, #2600FF 100%);
  margin: 2px;
  border-radius: 6px;
  margin: 2px;
}

div.dockContainer {
    left: 0px;
    right: 0px;
    bottom: 20px;
    position: fixed;
    height: 64px;
}

div.dock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: fixed;
    min-width: 64px;
    min-height: 64px;
    position: fixed;
    z-index: 99999;
}

div.dockItem {
    background: rgba(17, 17, 17, 0.6);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    border-radius: 10px;
    height: 64px;
    min-width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    gap: 12px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
}

div.dockIconContainer {
    height: 40px;
    width: 40px;
    background-color:rgba(255, 255, 255, 0);
    border-radius: 8px;
    transition-duration: 150ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

div.dockIconContainer:hover {
    background-color:rgba(255, 255, 255, 0.2)
}

div.dockIconContainer:active {
    background-color:rgba(255, 255, 255, 0.1)
}

div.dockIconContainerActive {
    height: 40px;
    width: 40px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition-duration: 150ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

div.dockIconContainerActive:hover {
    background-color:rgba(255, 255, 255, 0.3)
}

div.dockIconContainerActive:active {
    background-color:rgba(255, 255, 255, 0.1)
}

img.sysIcon {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition-duration: 333ms;
    transition-timing-function:cubic-bezier(0, 0, 0, 1);
    text-align: center;
}

img.sysIcon:active {
    height: 32px;
    width: 32px;
}

img.sysIconActive {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition-duration: 333ms;
    transition-timing-function:cubic-bezier(0, 0, 0, 1);
    text-align: center;
}

img.sysIconActive:active {
    height: 32px;
    width: 32px;
}


img.appIcon.inactive {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition-duration: 333ms;
    transition-timing-function:cubic-bezier(0, 0, 0, 1);
    align-items: center;
    align-self: center;
}

img.appIcon.inactive:hover {
    box-shadow: -2px 2px 4px 0px rgba(112, 4, 89, 0.25), -2px -2px 4px 0px rgba(17, 14, 67, 0.25), 2px -2px 4px 0px rgba(79, 0, 179, 0.25), 2px 2px 4px 0px rgba(27, 1, 136, 0.25);
}

img.appIcon.inactive:active {
    height: 32px;
    width: 32px;
}

img.appIcon.active {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition-duration: 333ms;
    transition-timing-function:cubic-bezier(0, 0, 0, 1);
    align-items: center;
    align-self: center;
    box-shadow: -2px 2px 4px 0px rgba(112, 4, 89, 0.5), -2px -2px 4px 0px rgba(49, 40, 203, 0.5), 2px -2px 4px 0px rgba(79, 0, 179, 0.5), 2px 2px 4px 0px rgba(66, 27, 226, 0.5);
}

img.appIcon.active:hover {
    box-shadow: -3px 3px 4px 0px rgba(112, 4, 89, 0.5), -2px -2px 4px 0px rgba(49, 40, 203, 0.5), 2px -2px 4px 0px rgba(79, 0, 179, 0.5), 2px 2px 4px 0px rgba(66, 27, 226, 0.5);
}

img.appIcon.active:active {
    box-shadow: -2px 2px 4px 0px rgba(112, 4, 89, 0.5), -2px -2px 4px 0px rgba(49, 40, 203, 0.5), 2px -2px 4px 0px rgba(79, 0, 179, 0.5), 2px 2px 4px 0px rgba(66, 27, 226, 0.5);
    height: 32px;
    width: 32px;
}

img.appIcon.idle {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition-duration: 333ms;
    transition-timing-function:cubic-bezier(0, 0, 0, 1);
    align-items: center;
    align-self: center;
    box-shadow: -2px 2px 4px rgba(112, 4, 89, 0.25), -2px -2px 4px rgba(17, 14, 67, 0.25), 2px -2px 4px rgba(79, 0, 179, 0.25), 2px 2px 4px rgba(27, 1, 136, 0.25);
}

img.appIcon.idle:hover {
    box-shadow: -3px 3px 4px rgba(112, 4, 89, 0.25), -3px -3px 4px rgba(17, 14, 67, 0.25), 3px -3px 4px rgba(79, 0, 179, 0.25), 3px 3px 4px rgba(27, 1, 136, 0.25);
}

img.appIcon.idle:active {
    box-shadow: -2px 2px 4px 0px rgba(112, 4, 89, 0.5), -2px -2px 4px 0px rgba(49, 40, 203, 0.5), 2px -2px 4px 0px rgba(79, 0, 179, 0.5), 2px 2px 4px 0px rgba(66, 27, 226, 0.5);
    height: 32px;
    width: 32px;
}

.dock {
    position: fixed;
    text-align: center;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
}

/* Desktop Customization */

@keyframes customizationContainerEnterScreen {
    0% {
        top: -200px;
    }
    100% {
        top: 56px;
    }
}

@keyframes customizationContainerLeaveScreen {
    0% {
        top: 56px;
    }
    100% {
        top: -200px;
    }
}

div.customizationContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 20px;
    right: 20px;
    top: 0px;
    margin-top: 56px;
    position: fixed;
    min-height: 64px;
}

div.customizationHiddenOnStart {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: fixed;
    top: 56px;
    min-width: 64px;
    min-height: 64px;
    animation-name: customizationContainerLeaveScreen;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-duration: 500ms;
}

div.customizationHidden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: fixed;
    top: -200px;
    min-width: 64px;
    min-height: 64px;
    animation-name: customizationContainerLeaveScreen;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-duration: 500ms;
}

div.customization {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: fixed;
    top: 56px;
    min-width: 64px;
    min-height: 64px;
    animation-name: customizationContainerEnterScreen;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-duration: 500ms;
}

div.customizationItem {
    background: rgba(17, 17, 17, 0.6);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    border-radius: 10px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
}

div.customizationPanel {
    background: rgba(255,255,255,0.1);
    min-height: 40px;
    min-width: 40px;
    max-width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-radius: 6px;
    overflow-x: scroll;
}

img.wallpaperItem {
    border-radius: 6px;
    height: 90px;
    width: 160px;
}

/* Window */

@keyframes windowOpen {
    0% {
        -webkit-transform: scale(0.0);
        scale: 0.0;
    }

    100% {
        -webkit-transform: scale(1.0);
        scale: 1.0;
    }
}

@keyframes windowClose {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }
}

div.windowHiddenOnStart {
    display: none;
    position: absolute;
    z-index: 9;
    top: 56px;
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    background-color: rgba(30, 30, 30, 0.6);
    font-family: 'Nunito';
    font-weight: 400;
    border-radius: 8px;
    padding: 12px;
    color: white;
    resize: both;
    overflow: none;
    position: absolute;
}

div.windowHidden {
    position: absolute;
    z-index: 9;
    top: 56px;
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    background-color: rgba(30, 30, 30, 0.6);
    font-family: 'Nunito';
    font-weight: 400;
    border-radius: 8px;
    padding: 12px;
    color: white;
    resize: both;
    overflow: none;
    position: absolute;
    -webkit-transform: scale(0.0);
    transform: scale(0.0);

    animation-name: windowClose;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-duration: 300ms;
}

div.window {
    position: absolute;
    z-index: 9;
    top: 56px;
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    background-color: rgba(30, 30, 30, 0.6);
    font-family: 'Nunito';
    font-weight: 400;
    border-radius: 8px;
    padding: 12px;
    color: white;
    resize: both;
    overflow: none;
    position: absolute;

    animation-name: windowOpen;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-duration: 300ms;
}

div.windowTitlebar {
    height: 32px;
    z-index: 10;
    min-width: 160px;;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 8px, 8px, 0px, 0px;
    outline: 1px rgba(255, 255, 255, 0.1);
    padding-bottom: 12px;
    z-index: 10000;
}

p.windowTitlebarText {
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
    font-family: 'Nunito';
    font-weight: 700;
    flex: none;
    order: 0;
    flex-grow: 1;
    text-align: left;
}

div.windowTitlebarButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding: 0px;
}

button.close {
    background: #dd3333;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
}

button.maximize {
    background: #3377dd;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
}

button.minimize {
    background: #6633dd;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
}

div.WindowResizableContainer {
    min-width: 160px;
    min-height: 90px;
    resize: both;
}